@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u_w4BMUTPHjxsI9w2_Gwfr.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHjxsAXC-s.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwiPHw.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPHw.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50XSwiPHw.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u_w4BMUTPHjxsI9w2_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u_w4BMUTPHjxsI9w2_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50XSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.cxJPxw {
  max-width: 1480px;
  padding: 0px 32px;
  margin: 0px auto;
}

.fnrnfC {
  min-height: 70vh;
  padding-top: 72px;
}

.fmzJQM {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

body {
  margin: 0px;
  font-family: Lato, "Helvetica Neue", Helvetica, Roboto, sans-serif;
  padding: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

:root {
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
}

.eSvKbG {
  padding-top: 32px;
  padding-bottom: 32px;
}

.jNqSsL {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.izdnBr {
  order: unset;
  flex: 1 1 auto;
  -webkit-box-flex: 1;
  align-self: auto;
}

.fNjzQf {
  order: unset;
  flex: 0 0 auto;
  -webkit-box-flex: 0;
  align-self: auto;
}

.jNqSsL>*+* {
  margin-left: 16px;
}

.gEunvO {
  position: relative;
  z-index: 6;
}

.huHlMl {
  text-decoration: none;
  cursor: pointer;
}

.dQcuqq {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row-reverse;
  flex-shrink: 0;
  outline: none;
  transition: background-color 250ms ease-out 0s, color 250ms ease-out 0s, border-color 250ms ease-out 0s, box-shadow 250ms ease-out 0s;
  border-radius: 4px;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 0px;
  box-sizing: border-box;
  padding: 10px 22px;
  background-color: transparent;
  color: rgb(0, 94, 236);
  border: 2px solid transparent;
}

.dQcuqq:hover {
  background-color: rgb(230, 239, 253);
}

.dQcuqq * {
  color: inherit;
}

.fOqKec {
  box-sizing: border-box;
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 1em;
  min-width: 20px;
  color: rgb(0, 94, 236);
}

.gHYvtW {
  line-height: 1em;
  margin-right: 8px;
}

.lcdmkh {
  position: relative;
}

.gEunvO .react-autosuggest__suggestions-container {
  position: absolute;
  z-index: 7;
  left: 0px;
  top: 100%;
  right: 0px;
  width: 100%;
}

.jHpdti {
  color: rgb(42, 59, 79);
  font-size: 14px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  line-height: 20px;
}

.cRQBHe {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  left: 12px;
}

input {
  font-family: Lato, "Helvetica Neue", Helvetica, Roboto, sans-serif;
}

.eMYNWK {
  box-shadow: none;
  box-sizing: border-box;
  background-color: rgb(246, 247, 248);
  color: rgb(42, 59, 79);
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 12px 16px 12px 40px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  transition: box-shadow 0.2s ease 0s;
}


@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u_w4BMUTPHjxsI9w2_Gwfr.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHjxsAXC-s.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwiPHw.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPHw.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50XSwiPHw.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u_w4BMUTPHjxsI9w2_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u_w4BMUTPHjxsI9w2_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50XSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.cxJPxw {
  max-width: 1480px;
  padding: 0px 32px;
  margin: 0px auto;
}

.fnrnfC {
  min-height: 70vh;
  padding-top: 72px;
}

.fmzJQM {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

body {
  margin: 0px;
  font-family: Lato, "Helvetica Neue", Helvetica, Roboto, sans-serif;
  padding: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

:root {
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
}

.eSvKbG {
  padding-top: 32px;
  padding-bottom: 32px;
}

.jNqSsL {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.izdnBr {
  order: unset;
  flex: 1 1 auto;
  -webkit-box-flex: 1;
  align-self: auto;
}

.iUliMw {
  position: relative;
  height: 100%;
  min-height: 218px;
  min-width: 0px;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
}

.kfDyVW {
  order: unset;
  flex: 0 1 auto;
  -webkit-box-flex: 0;
  align-self: auto;
}

.jFpBdQ {
  width: auto;
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (min-width: 569px) {
  .jFpBdQ {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .jFpBdQ {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1025px) {
  .jFpBdQ {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media screen and (min-width: 1281px) {
  .jFpBdQ {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.dBwbML>div {
  padding: 12px;
}

.dpObHp {
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  place-content: stretch normal;
  flex-wrap: wrap;
  overflow: visible;
}

.dBwbML {
  margin: -12px;
}

.cWBFoq {
  padding: 32px 0px;
  border-top: 1px solid rgb(218, 222, 227);
  background-color: rgb(243, 247, 254);
}

.kjhZCE {
  display: block;
  min-width: 0px;
  box-sizing: border-box;
  transition: top 250ms ease 0s, bottom 250ms ease 0s, left 250ms ease 0s, right 250ms ease 0s;
  height: auto;
  position: absolute;
  inset: -16px;
  z-index: 3;
}

.huHlMl {
  text-decoration: none;
  cursor: pointer;
}

.daeMdH {
  -webkit-box-align: baseline;
  align-items: baseline;
  color: rgb(0, 85, 212);
  display: inline-flex;
  flex-direction: row;
  text-decoration: none;
  transition: color 250ms ease-out 0s;
}

.kjhZCE>a {
  height: 100%;
  width: 100%;
}

.daeMdH:hover {
  color: rgb(0, 94, 236);
}

.ggCPym {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(212, 228, 252);
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.inQRiJ {
  padding: 0px;
  max-width: 100%;
}

.ggCPym>div {
  border-radius: 8px;
  transition: box-shadow 500ms ease 0s;
}

.ggCPym>div:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px, rgb(0, 94, 236) 0px 0px 0px 2px;
}

.fBBOVx {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 307px;
}

.kKxlFr {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 24px 24px 0px;
}

.ipOgDi {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  min-height: 64px;
  padding: 16px 24px;
  box-sizing: border-box;
}

.kKxlFr> :first-child {
  margin-right: 16px;
  flex-shrink: 0;
}

.hDIQYW {
  color: rgb(95, 76, 179);
  font-size: 13px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  letter-spacing: 3px;
}

.difa-du {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.fNHSBQ {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ddOdc {
  padding: 0px;
  max-width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.frPYEz>div {
  border-radius: 8px;
  transition: box-shadow 500ms ease 0s;
}

.frPYEz {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(212, 228, 252);
  border-radius: 8px;
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  display: block;
  width: 100%;
}

.hqKJhi>a {
  height: 100%;
  width: 100%;
}

.hqKJhi {
  display: block;
  height: 100%;
  min-width: 0px;
  box-sizing: border-box;
  position: static;
  inset: 0px;
  transition: top 250ms ease 0s, bottom 250ms ease 0s, left 250ms ease 0s, right 250ms ease 0s;
}

.iUliMv {
  position: relative;
  height: 100%;
  min-height: 218px;
  min-width: 0px;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}

.gHyNVx {
  display: block;
  height: 16px;
  width: 0px;
}

.fNjzQf {
  order: unset;
  flex: 0 0 auto;
  -webkit-box-flex: 0;
  align-self: auto;
}

.jEktxk {
  margin-top: 16px;
}

.cUhrpM {
  margin-bottom: 16px;
}

.hErVHY {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  place-content: stretch normal;
  flex-wrap: nowrap;
  overflow: visible;
}

.cTgBvR {
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid rgb(230, 239, 253);
  box-sizing: content-box;
  display: block;
  height: 0px;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
}

.hPofFg {
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  place-content: stretch space-between;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  overflow: visible;
}

.iEaEGr {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 48px;
}

.iscXSs {
  color: rgb(42, 59, 79);
  font-size: 16px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
}

.enMLOj {
  color: rgb(42, 59, 79);
  font-size: 14px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
}

.OMXWB {
  padding-left: 8px;
  padding-right: 8px;
}

.fgFsLd {
  height: 24px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 0px;
}

.jTGNGH {
  color: rgb(42, 59, 79);
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
}

.kyVbji {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
}

.lrGrJ {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background-color: rgb(237, 239, 241);
  border-radius: 24px;
  overflow: hidden;
}



.esLEiJ {
  margin-left: 8px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.jHpdti {
  color: rgb(42, 59, 79);
  font-size: 14px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  line-height: 20px;
}

.bxPHch {
  display: inline-flex;
  min-width: 16px;
}


@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u_w4BMUTPHjxsI9w2_Gwfr.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHjxsAXC-s.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwiPHw.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPHw.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50XSwiPHw.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u_w4BMUTPHjxsI9w2_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u_w4BMUTPHjxsI9w2_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50XSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.cxJPxw {
  max-width: 1480px;
  padding: 0px 32px;
  margin: 0px auto;
}

.fnrnfC {
  min-height: 70vh;
  padding-top: 72px;
}

.fmzJQM {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

body {
  margin: 0px;
  font-family: Lato, "Helvetica Neue", Helvetica, Roboto, sans-serif;
  padding: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

:root {
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
}

.eSvKbG {
  padding-top: 32px;
  padding-bottom: 32px;
}

.jNqSsL {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.izdnBr {
  order: unset;
  flex: 1 1 auto;
  -webkit-box-flex: 1;
  align-self: auto;
}

.klHCGx {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  place-content: stretch normal;
  flex-wrap: wrap;
  overflow: visible;
}

.ZXcvd>div>div {
  margin: 0px -12px;
}

.jNHTnB {
  padding: 16px 24px;
}

.ZXcvd {
  padding: 0px;
}

.iMselt {
  display: block;
  background-color: rgb(230, 239, 253);
}

.MpjeR {
  padding: 8px 12px;
}

.jQOlMr {
  display: block;
  flex: 0 1 0%;
  height: 8px;
  min-width: 24px;
  width: 24px;
}

.gEunvO {
  position: relative;
  z-index: 6;
}

.eIqMtl {
  width: 150px;
}

.fjeNGd {
  display: none;
}

.EgpSn {
  position: relative;
}

.lcdmkh {
  position: relative;
}

.cRQBHe {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  left: 12px;
}

.jMTkBh {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 36px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  margin: 0px;
  border: 1px solid rgb(218, 222, 227);
  border-radius: 4px;
  padding: 0px 12px;
  width: 150px;
  cursor: pointer;
}

.jMTkBh:hover {
  border: 2px solid rgb(0, 94, 236);
  padding: 0px 11px;
}

.bNbSRa {
  order: unset;
  flex: 1 0 auto;
  -webkit-box-flex: 1;
  align-self: auto;
}

.eeaapo {
  color: rgb(42, 59, 79);
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  display: block;
  white-space: pre-wrap;

  line-height: 20px;
}

.dVdraG {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  place-content: stretch flex-end;
  flex-wrap: nowrap;
  -webkit-box-pack: end;
  overflow: visible;
}

.gwxOIX {
  display: block;
  flex: 0 1 0%;
  height: 8px;
  min-width: 8px;
  width: 8px;
}


@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u_w4BMUTPHjxsI9w2_Gwfr.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHjxsAXC-s.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwiPHw.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPHw.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50XSwiPHw.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u_w4BMUTPHjxsI9w2_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u_w4BMUTPHjxsI9w2_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50XSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.cxJPxw {
  max-width: 1480px;
  padding: 0px 32px;
  margin: 0px auto;
}

.fnrnfC {
  min-height: 70vh;
  padding-top: 72px;
}

.fmzJQM {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

body {
  margin: 0px;
  font-family: Lato, "Helvetica Neue", Helvetica, Roboto, sans-serif;
  padding: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

:root {
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
}

.eSvKbG {
  padding-top: 32px;
  padding-bottom: 32px;
}

.jNqSsL {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.cWBFoq {
  padding: 32px 0px;
  border-top: 1px solid rgb(218, 222, 227);
  background-color: rgb(243, 247, 254);
}

.gHyNUk {
  display: block;
  height: 24px;
  width: 0px;
}

.izdnBr {
  order: unset;
  flex: 1 1 auto;
  -webkit-box-flex: 1;
  align-self: auto;
}

.kLPWHt {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  place-content: stretch space-between;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  overflow: visible;
}

.eIqMtl {
  width: 150px;
}

.dpObHp {
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  place-content: stretch normal;
  flex-wrap: wrap;
  overflow: visible;
}

.dBwbML {
  margin: -12px;
}

.gEunvO {
  position: relative;
  z-index: 6;
}

.EgpSn {
  position: relative;
}

.fjeNGd {
  display: none;
}

.kfDyVW {
  order: unset;
  flex: 0 1 auto;
  -webkit-box-flex: 0;
  align-self: auto;
}

.jFpBdQ {
  width: auto;
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (min-width: 569px) {
  .jFpBdQ {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .jFpBdQ {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1025px) {
  .jFpBdQ {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media screen and (min-width: 1281px) {
  .jFpBdQ {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.dBwbML>div {
  padding: 12px;
}

.jjLmdk {
  color: rgb(98, 110, 123);
  font-size: 14px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  line-height: 20px;
}

.iUliMv {
  position: relative;
  height: 100%;
  min-height: 218px;
  min-width: 0px;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}

.jMTkBh {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 36px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  margin: 0px;
  border: 1px solid rgb(218, 222, 227);
  border-radius: 4px;
  padding: 0px 12px;
  width: 150px;
  cursor: pointer;
}

.jMTkBh:hover {
  border: 2px solid rgb(0, 94, 236);
  padding: 0px 11px;
}

.hqKJhi {
  display: block;
  height: 100%;
  min-width: 0px;
  box-sizing: border-box;
  position: static;
  inset: 0px;
  transition: top 250ms ease 0s, bottom 250ms ease 0s, left 250ms ease 0s, right 250ms ease 0s;
}



.bNbSRa {
  order: unset;
  flex: 1 0 auto;
  -webkit-box-flex: 1;
  align-self: auto;
}

.huHlMl {
  text-decoration: none;
  cursor: pointer;
}

.daeMdH {
  -webkit-box-align: baseline;
  align-items: baseline;
  color: rgb(0, 85, 212);
  display: inline-flex;
  flex-direction: row;
  text-decoration: none;
  transition: color 250ms ease-out 0s;
}

.hqKJhi>a {
  height: 100%;
  width: 100%;
}

.daeMdH:hover {
  color: rgb(0, 94, 236);
}

.dVdraG {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  place-content: stretch flex-end;
  flex-wrap: nowrap;
  -webkit-box-pack: end;
  overflow: visible;
}

.frPYEz {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(212, 228, 252);
  border-radius: 8px;
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  display: block;
  width: 100%;
}

.gwxOIX {
  display: block;
  flex: 0 1 0%;
  height: 8px;
  min-width: 8px;
  width: 8px;
}

.ddOdc {
  padding: 0px;
  max-width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.frPYEz>div {
  border-radius: 8px;
  transition: box-shadow 500ms ease 0s;
}

.frPYEz>div:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px, rgb(0, 94, 236) 0px 0px 0px 2px;
}

.fNHSBQ {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.kKxlFr {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 24px 24px 0px;
}

.ipOgDi {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  min-height: 64px;
  padding: 16px 24px;
  box-sizing: border-box;
}

.kKxlFr> :first-child {
  margin-right: 16px;
  flex-shrink: 0;
}

.hDIQYW {
  color: rgb(95, 76, 179);
  font-size: 13px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  letter-spacing: 3px;
}

.difa-du {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.ljeoGV {
  color: rgb(27, 112, 197);
  font-size: 13px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  letter-spacing: 3px;
}

.hMOTjM {
  color: rgb(34, 127, 75);
  font-size: 13px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  letter-spacing: 3px;
}

.gHyNVx {
  display: block;
  height: 16px;
  width: 0px;
}

.fNjzQf {
  order: unset;
  flex: 0 0 auto;
  -webkit-box-flex: 0;
  align-self: auto;
}

.jEktxk {
  margin-top: 16px;
}

.cUhrpM {
  margin-bottom: 16px;
}

.iEaEGr {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 48px;
}

.hErVHY {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  place-content: stretch normal;
  flex-wrap: nowrap;
  overflow: visible;
}

.cTgBvR {
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid rgb(230, 239, 253);
  box-sizing: content-box;
  display: block;
  height: 0px;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
}

.hPofFg {
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  place-content: stretch space-between;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  overflow: visible;
}

.iscXSs {
  color: rgb(42, 59, 79);
  font-size: 16px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
}

.enMLOj {
  color: rgb(42, 59, 79);
  font-size: 14px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
}

.OMXWB {
  padding-left: 8px;
  padding-right: 8px;
}

.fgFsLd {
  height: 24px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 0px;
}

.jTGNGH {
  color: rgb(42, 59, 79);
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
}

.kyVbji {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
}

.lrGrJ {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background-color: rgb(237, 239, 241);
  border-radius: 24px;
  overflow: hidden;
}

.bxPHch {
  display: inline-flex;
  min-width: 16px;
}

.esLEiJ {
  margin-left: 8px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.jHpdti {
  color: rgb(42, 59, 79);
  font-size: 14px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  line-height: 20px;
}

.sc-ipEyDJ.eSvKbG.snipcss-pJ5no {
  background: rgb(20 66 128 / 90%);
  padding: 25px 15px;
}

.tracker_names {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.sc-gYbzsP.fNjzQf .select {
  height: 46px;
  font-size: 14px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #1ABC9C;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -.4px;
  border: none;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
}

.sc-gYbzsP.izdnBr input {
  /* border-bottom-right-radius: 0;
  border-top-right-radius: 0; */
}

.hILnWU {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  place-content: stretch normal;
  flex-wrap: wrap;
  overflow: visible;
}

.eNipWR {
  padding: 8px 12px;
}

#nav-tabContent h6 {
  margin: 0 0 5px;
}

.insights_data,
.tracker_names {
  margin-bottom: 20px;
}

.btn {
  border-radius: 5rem;
}

.badge-pill {
  white-space: normal !important;
  padding-right: 0.8em;
  padding-left: 0.8em;
  border-radius: 10rem;
  padding-bottom: 0.35rem;
  padding-top: 0.3rem;
}

h4.wordcloud {text-transform: uppercase;text-align: center;font-weight: 700;}